<% content_for :breadcrumb do %>
  <li><a href="/segmentation">Segmentation</a></li>
  <li><a href="#" class="active">Add New</a></li>
<% end %>

<% content_for :styles do %>
  <style type="text/css">
    /* Custom CSS for this page */

    .custom-row {
      border-radius: 10px;
      padding: 10px;
      margin: 10px;
      background: #e6e6e6;
    }

  </style>
  <link rel="stylesheet" type="text/css" href="assets/css/auto-complete.css">
<% end %>
<div class="col-md-1 col-lg-1"></div>
<div class="col-md-10 col-lg-10 col-sm-12">
  <section>
    <span>
      <h4 class="pull-left">Add Segmentation</h4>
      <section class="pull-right">
        <button type="btn" class="btn btn-danger" onclick="createSegment()">Save</button>
        <button type="btn" class="btn btn-success" onclick="segmentHome()">Cancel</button>
      </section>
    </span>
    <br/>
    <div class="custom-row">
      <span><b>NAME </b></span>
      <input placeholder="Name your Segmentation" id="segmentation_name" type="text" style="width: 95%;">
    </div>
    <br/>
    <div>
      <h4>Segmentation Inputs</h4>
    </div>
  </section>

  <section id="inputValues">

    <div class="custom-row">
      <span>
        <span><b>TYPE </b></span>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span>
          <input type="radio" name="seg_type" value="user" onclick="changeType(this.value)" style="margin-left: 10px;"> User
          <input type="radio" name="seg_type" value="event" onclick="changeType(this.value)" style="margin-left: 10px;"> Event
        </span>
      </span>
    </div>

    <br/>
    <div class="custom-row" id="event_type" style="display: none;">
      <span>
        <span><b>Event Type &nbsp;</b></span>
        <select name="event_type">
          <option value="">Select Event &nbsp; &nbsp;</option>
          <% @events.each do |x| %>
            <option value="<%= x %>"><%= x %></option>
          <% end %>
        </select>
      </span>
    </div>
    <br/>
    
    <div class="custom-row">
      <span>
        <span><b>Dimension &nbsp;</b></span>
        <select name="dimension" class="dimension">
          <option value="">Select Dimension</option>
          <% @dimensions.each do |x| %>
            <option value="<%= x[:id] %>"><%= x[:text] %></option>
          <% end %>
        </select>
        <span class="values">
          <span><b>&nbsp;&nbsp; Operator &nbsp;</b></span>

          <!-- Operator Selection -->
          <select name="operators" class="operators">
            <option value="">Select Operator</option>
            <% @operators.each do |x| %>
              <option value="<%= x[:id] %>"><%= x[:text] %></option>
            <% end %>
          </select>

          <!-- Accepts Value -->
          <span class="valueElement" style="display: none;">
          </span>

        </span>
      </span>
    </div>

    <div>
      <br />
      <div>
        <center>
          <!-- Operator Selection -->
            <select name="logic_operators" class="logic_operators">
              <option value="">Select Condition</option>
              <% @logic_operators.each do |x| %>
                <option value="<%= x[:id] %>"><%= x[:text] %></option>
              <% end %>
            </select>
        </center>
      </div>
      <br />
      <div class="custom-row">
        <span>
          <span><b>Dimension &nbsp;</b></span>
          <select name="dimension" class="dimension">
            <option value="">Select Dimension</option>
            <% @dimensions.each do |x| %>
              <option value="<%= x[:id] %>"><%= x[:text] %></option>
            <% end %>
          </select>
          <span class="values">
            <span><b>&nbsp;&nbsp; Operator &nbsp;</b></span>
            <!-- Operator Selection -->
            <select name="operators" class="operators">
              <option value="">Select Operator</option>
              <% @operators.each do |x| %>
                <option value="<%= x[:id] %>"><%= x[:text] %></option>
              <% end %>
            </select>

            <!-- Accepts Value -->
            <span class="valueElement" style="display: none;">
            </span>

          </span>
        </span>
      </div>
    </div>

    <span id="endpoint"></span>
  </section>
  <br/>
  <div class="actionBar">
    <button type="button" class="btn btn-primary pull-left" id="addRow">
      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Row
    </button>
    <section class="pull-right">
      <button type="btn" class="btn btn-danger" onclick="createSegment()">Save</button>
        <button type="btn" class="btn btn-success" onclick="segmentHome()">Cancel</button>
    </section>
  </div>
</div>

<!-- Dummy Element -->
<div id="dummy_row" class="rowParent" style="display: none;">
  <br />
  <div>
    <center>
      <!-- Operator Selection -->
        <select name="logic_operators" class="logic_operators">
          <option value="">Select Condition</option>
          <% @logic_operators.each do |x| %>
            <option value="<%= x[:id] %>"><%= x[:text] %></option>
          <% end %>
        </select>
    </center>
  </div>
  <br />
  <div class="custom-row">
    <span>
      <span><b>Dimension &nbsp;</b></span>
      <select name="dimension" class="dimension">
        <option value="">Select Dimension</option>
        <% @dimensions.each do |x| %>
          <option value="<%= x[:id] %>"><%= x[:text] %></option>
        <% end %>
      </select>
      <span class="values">
        <span><b>&nbsp;&nbsp; Operator &nbsp;</b></span>
        <!-- Operator Selection -->
        <select name="operators" class="operators">
          <option value="">Select Operator</option>
          <% @operators.each do |x| %>
            <option value="<%= x[:id] %>"><%= x[:text] %></option>
          <% end %>
        </select>

        <!-- Accepts Value -->
        <span class="valueElement" style="display: none;">
        </span>

        <span class="deleteRow pull-right" style="margin-right: 20px; padding: 2px;">
          <i class="glyphicon glyphicon-remove"></i>
        </span>

      </span>
    </span>
  </div>
</div>

<!-- Operators -->
<div style="display: none;">
  <% @operators.each do |x| %>
    <option value="<%= x[:id] %>"><%= x[:text] %></option>
  <% end %>
</div>

<!-- Dimensions -->
<div style="display: none;">
  <% @dimensions.each do |x| %>
    <option value="<%= x[:id] %>"><%= x[:text] %></option>
  <% end %>
</div>

<!-- Logic Operators -->
<div style="display: none;">
  <% @logic_operators.each do |x| %>
    <option value="<%= x[:id] %>"><%= x[:text] %></option>
  <% end %>
</div>

<!-- Scripts -->
<% content_for :scripts do %>
  <script type="text/javascript">

  function changeType(value){
    if (value == "user"){
      $('#event_type').css("display", "none");
    } else if(value == "event") {
      $('#event_type').slideDown();
    }
  }

  function segmentHome() {
    window.location = '/segmentation';
  }

  function createSegment() {
    var name = $('#segmentation_name').val();
    var type = $('input[name=seg_type]:checked').val();
    var eventType = $('select[name=event_type]').val();
    var dimensions = [];
    var operators = [];
    var values = [];
    var logicOperators = [];

    $(".dimension").each( function( index, element ){
      dimensions.push($(this).val());
    });

    $(".operators").each( function( index, element ){
      operators.push($(this).val());
    });

    $(".rowValue").each( function( index, element ){
      if ($(this).data('type') == "datetime"){
        values.push($(this).val().split(' - '));
      } else {
        values.push($(this).val());
      }
    });

    $(".logic_operators").each( function( index, element ){
      logicOperators.push($(this).val());
    });

    dimensions.pop();
    operators.pop();
    logicOperators.pop();

    jsonValue = {
      'name': name,
      'type': type,
      'eventType': eventType,
      'dimensions': dimensions,
      'operators': operators,
      'values': values,
      'logicOperators': logicOperators
    };

    $.post('/segmentation/create', { jsonData: jsonValue}, function(response){
      segmentHome();
    });
  }

  $('#addRow').click(function(){
    var endpoint = $('#endpoint');
    var additionalRow = $('#dummy_row');
    var newRow = additionalRow.clone()
                      .removeAttr('id')
                      .insertBefore(endpoint)
                      .slideDown();
  });

  $(document.body).on('click', '.deleteRow', function(){
    $(this).parents('.rowParent').slideUp("slow", function() {
      // Animation complete.
      $(this).remove();
    });
  });

  $(document.body).on('change', '.operators', function(){
    // console.log($(this).val());
  });

  $(document.body).on('apply.daterangepicker', 'input[name="datePicker"]', function(ev, picker) {
      $(this).val(picker.startDate.format('YYYY/MM/DD h:mm:ss a') + ' - ' + picker.endDate.format('YYYY/MM/DD h:mm:ss a'));
  });

  $(document.body).on('change', '.dimension', function(){
    var parent_element = $(this).parent('span');
    var value_element = parent_element.children('.values').children('.valueElement');
    
    if($(this).val() == 8 || $(this).val() == 9){ // For Date Time Type input
      value_element.css('display','inline-block');
      value_element.html('');
      value_element.append($('<span><b>&nbsp;&nbsp; Value &nbsp;</b></span>'));
      value_element.append($('<input type="text" name="datePicker" class="rowValue" data-type="datetime">'));
      let today = new Date();
      let yesterday = new Date();
      yesterday.setDate(today.getDate() - 1);
      let last7day = new Date();
      last7day.setDate(today.getDate() - 7);
      value_element.children('input[name="datePicker"]').daterangepicker({
        "ranges": {
          "Today": [ today, today],
          "Last 1 Day": [ yesterday, today],
          "Last 7 Days": [ last7day, today]
        },
        "timePicker": true,
        "opens": "left",
        "startDate": today,
        "endDate": yesterday,
        "maxDate":today
      });
    } else if ($(this).val() < 8){ // For Text Type Input
      value_element.css('display','inline-block');
      value_element.html('');
      value_element.append($('<span><b>&nbsp;&nbsp; Value &nbsp;</b></span>'));
      value_element.append($('<select name="rowValue" class="rowValue"><option value="">Select Value</option></select>'));
      var add_options = value_element.children('.rowValue');
      // var name = $(this).children('option[value='+$(this).val()+']').text();
      $.getJSON('/segmentation/dimensions', { dimension: $(this).val()}, function(response){
        dataArray = response.data;
        $.each( dataArray, function( index, value ) {
          add_options.append($('<option value="'+value['id']+'">'+value['text']+'</option>'));
        });
      });
    } else {

    }

  });

  </script>
<% end %>
