<% content_for :breadcrumb do %>
  <li><a href="#" class="active">Home</a></li>
<% end %>

<% content_for :styles do %>
  <style type="text/css">
  	/* Custom CSS for this page */
  	.hljs {
  		color: #3a8fc8;
  	}
  	.hljs-string {
  		color: #d14;
  	}

  </style>
<% end %>


<div class="row">
              <div class="col-md-6 col-xlg-5">
                <div class="row">
                  <div class="col-md-12 m-b-10">
                    <div class="ar-3-2 widget-1-wrapper">
                      <!-- START WIDGET widget_imageWidget-->
                      <div class="widget-1 panel no-border bg-complete no-margin widget-loader-circle-lg">
                        <div class="panel-heading top-right ">
                          <div class="panel-controls">
                            <ul>
                              <li><a data-toggle="refresh" class="portlet-refresh text-black" href="#"><i class="portlet-icon portlet-icon-refresh-lg-master"></i><i class="portlet-icon-refresh-lg-white-animated" style="position: absolute; top: 17px; left: 23px;"></i></a>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="panel-body">
                          <div class="pull-bottom bottom-left bottom-right ">
                            <span class="label font-montserrat fs-11">TODAY</span>
                            <br>
                            <% if @today %>
                              <% @today.each do |title, opts| %>
                                <div class="row">
                                  <h2 class="text-white"><%= "#{ title } #{ opts[:title] }" %></h2>
                                  <% [:wow, :oye].each do |prop| %>
                                    <% if opts.has_key?(prop) %>
                                      <div class="company col-xs-4">
                                        <%= fa_caret opts[prop], text: '% ' + prop.to_s %>
                                      </div>
                                    <% end %>
                                  <% end %>
                                </div>
                              <% end %>
                            <% else %>
                              <div class="row">
                                <h2 class="text-white">Welcome. Today's a great day.</h2>
                              </div>
                              <div class="row">
                                <h2 class="text-white">You'll see news here when it's ready.</h2>
                                <h5 class="text-info">Like below</h5>
                              </div>
                              <div class="row">
                                  <h2 class="text-white">Feed Engagement Up by 8%</h2>
                                      <div class="company col-xs-4">
                                        <p class="font-montserrat text-success no-margin fs-16"><i class="fa fa-caret-up"></i> +4.5 <span class="font-arial text-white fs-12 hint-text m-l-5">% wow</span></p>
                                      </div>
                                      <div class="company col-xs-4">
                                        <p class="font-montserrat text-success no-margin fs-16"><i class="fa fa-caret-up"></i> +8.0 <span class="font-arial text-white fs-12 hint-text m-l-5">% oye</span></p>
                                      </div>
                                </div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                      <!-- END WIDGET -->
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 m-b-10">
                    <div class="ar-2-1">
                      <!-- START WIDGET widget_graphTile-->
                      <div class="widget-4 panel no-border  no-margin widget-loader-bar">
                        <div class="container-sm-height full-height">
                          <div class="row-sm-height">
                            <div class="col-sm-height col-top">
                              <div class="panel-heading ">
                                <div class="panel-title text-black hint-text">
                                  <span class="font-montserrat fs-11 all-caps">
	                                  Octo Uptime <i class="fa fa-chevron-right"></i>
                                  </span>
                                </div>
                                <%#
                                <div class="panel-controls">
                                  <ul>
                                    <li><a href="#" class="portlet-refresh text-black" data-toggle="refresh"><i class="portlet-icon portlet-icon-refresh"></i></a>
                                    </li>
                                  </ul>
                                </div>
                              %>
                              </div>
                            </div>
                          </div>
                          <div class="row-sm-height">
                            <div class="col-sm-height col-top">
                              <div class="p-l-20 p-r-20">
                                <h5 class="no-margin p-b-5 pull-left hint-text">Status</h5>
                                <p class="pull-right no-margin bold hint-text">Normal</p>
                                <div class="clearfix"></div>
                              </div>
                              <div class="p-l-20 p-r-20">
                                <h5 class="no-margin p-b-5 pull-left hint-text">Latency</h5>
                                <p class="pull-right no-margin bold hint-text">12 ms</p>
                                <div class="clearfix"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- END WIDGET -->
                    </div>
                  </div>
                  <div class="col-sm-6 m-b-10">
                    <div class="ar-2-1">
                      <!-- START WIDGET widget_barTile-->
                      <div class="widget-5 panel no-border  widget-loader-bar">
                   <%#
                        <div class="panel-heading pull-top top-right">
                          <div class="panel-controls">
                            <ul>
                              <li><a data-toggle="refresh" class="portlet-refresh text-black" href="#"><i class="portlet-icon portlet-icon-refresh"></i></a>
                              </li>
                            </ul>
                          </div>
                        </div>
                     %>
                        <div class="container-xs-height full-height">
                          <div class="row row-xs-height">
                            <div class="col-xs-5 col-xs-height col-middle relative">
                              <div class="padding-15 top-left bottom-left">
                                <h5 class="hint-text no-margin p-l-10">API Hits</h5>
                                <p class=" bold font-montserrat p-l-10"><%= @api_count %>
                                  <br>calls</p>
                                <p class=" hint-text visible-xlg p-l-10">API Quota</p>
                              </div>
                            </div>
                            <div class="col-xs-7 col-xs-height col-bottom relative widget-5-chart-container">
                              <div class="apicalls-chart rickshaw_graph"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- END WIDGET -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xlg-4">
                <div class="row">
                  <div class="col-sm-6 m-b-10">
                    <div class="ar-1-1">
                      <!-- START WIDGET widget_imageWidgetBasic-->
                      <div class="widget-2 panel no-border bg-primary widget widget-loader-circle-lg no-margin">
                        <div class="panel-heading">
                          <%#
                              Because we don't have specific calls for each of these portlets,
                              the refresh UX is disabled by comments.
                              We should pick it up soon and enable these UX controls.
                          <div class="panel-controls">
                            <ul>
                              <li><a href="#" class="portlet-refresh" data-toggle="refresh"><i class="portlet-icon portlet-icon-refresh-lg-white"></i></a>
                              </li>
                            </ul>
                          </div>
                           %>
                        </div>
                        <div class="panel-body">
                          <div class="pull-bottom bottom-left bottom-right padding-25">
                            <h1 class="text-white semi-bold">Userbase</h1>
                             <span class="label font-montserrat fs-11">Engagement</span>
                             <% if @seg_data.count > 0 %>
                              <div id="user_segment_chart" style="height:180px;font-size:11px;margin:0px 0px -25px -25px;"></div>
                            <% else %>
                              <p class="text-white hint-text m-t-30">Unable to load data. <a href="#">Find Out Why?</a></p>
                            <% end %>
                          </div>
                        </div>
                      </div>
                      <!-- END WIDGET -->
                    </div>
                  </div>
                  <div class="col-sm-6 m-b-10">
                    <div class="ar-1-1">
                      <!-- START WIDGET widget_plainLiveWidget-->
                      <div class="widget-3 panel no-border bg-complete no-margin widget-loader-bar">
                        <div class="panel-body no-padding">
                           <div class="pull-bottom bottom-left bottom-right padding-25">
                            <h1 class="text-white semi-bold">Conversions</h1>
                            <br>
                            <% if @conv_data.count > 0 %>
                              <div id="conversions_chart" style="height:190px;font-size:11px;margin:0px 0px -25px -25px;"></div>
                            <% else %>
                              <span class="label font-montserrat fs-11">Newsfeed and Notifications</span>
                              <p class="text-white hint-text hidden-md">Unable to load data. <a href="#">Find out Why?</a></p>
                            <% end %>
                          </div>
                        </div>
                      </div>
                      <!-- END WIDGET -->
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 m-b-10">
                    <div class="ar-1-1">
                      <!-- START WIDGET widget_plainWidget-->
                      <div class="panel no-border bg-master widget widget-6 widget-loader-circle-lg no-margin">
                        <%#
                        <div class="panel-heading">
                          <div class="panel-controls">
                            <ul>
                              <li><a data-toggle="refresh" class="portlet-refresh" href="#"><i class="portlet-icon portlet-icon-refresh-lg-white"></i></a>
                              </li>
                            </ul>
                          </div>
                        </div>
                        %>
                        <div class="panel-body">
                          <div class="pull-bottom bottom-left bottom-right padding-25">
                            <h1 class="text-white semi-bold">Trending</h1>
                            <span class="label font-montserrat fs-11">Right Now</span><p/>
                            <% if @trend_data.keys.count > 0 %>
                              <div class="panel" style="margin: 0px 0px -20px -20px;">
                                <ul class="nav nav-tabs nav-tabs-simple">
                                  <% @trend_data.keys.each_with_index do |key, index| %>
                                    <li  <% if index == 0 %> class="active" <% end %> >
                                      <a data-toggle="tab" style="padding: 2px 6px;" href="#trending<%= key %>"><%= key %></a>
                                    </li>
                                  <% end %>
                                </ul>
                                <div class="tab-content bg-white">
                                  <% @trend_data.each do |text, trending| %>
                                    <div class="tab-pane slide-left  <% if text == 'product' %> active <% end %>" id="trending<%= text %>">
                                     <% if trending.count > 0 %>
                                      <% trending.each do |trend| %>
                                        <div class="row">
                                          <h6><%= trend.nil? ? 'Not Available <a href="#">Know Why?</a>' : trend.unique_id %></h6>
                                        </div>
                                      <% end %>
                                    <% else %>
                                      <p>Unable to load data</p>
                                    <% end %>
                                    </div>
                                  <% end %>
                                </div>
                              </div>
                            <% else %>
                              <p class="text-white hint-text m-t-30">Top 3 trending products, tags and categories</p>
                            <% end %>
                          </div>
                        </div>
                      </div>
                      <!-- END WIDGET -->
                    </div>
                  </div>
                  <div class="col-sm-6 m-b-10">
                    <div class="ar-1-1">
                      <!-- START WIDGET D3 widget_graphLiveWidget-->
                      <div class="widget-7 panel no-border bg-success no-margin">
                        <div class="panel-body no-padding">
                          <div class="pull-bottom bottom-left bottom-right padding-25">
                            <h1 class="text-white semi-bold">Top Funnels</h1>
                            <% if @funnel_data %>
                              <table>
                                <% @funnel_data.each do |funnel| %>
                                  <tr>
                                    <td><h5><%= funnel.name %></h5></td>
                                  </tr>
                                <% end %>
                              </table>
                            <% else %>
                              <p class="text-white hint-text hidden-md">Unable to load data. <a href="#">Find out Why?</a></p>
                            <% end %>
                          </div>
                        </div>
                      </div>
                      <!-- END WIDGET -->
                    </div>
                  </div>
                </div>
              </div>
            </div>




<% content_for :scripts do %>
  <script type="text/javascript">
$(function() {


  var api_data = <%= @api_data.to_json %>;
  var container = '.apicalls-chart';
  var graph = new Rickshaw.Graph({
    element: document.querySelector(container),
    renderer: 'bar',
    series: [{ data: api_data,
      color: $.Pages.getColor('danger')}]
  });
  graph.render();
  $(window).resize(function() {
      graph.configure({
          width: $(container).width(),
          height: $(container).height()
      });

      graph.render()
  });

  $(container).data('chart', graph);


  <% if @conv_data.count > 0 %>
      var conv_data = <%= @conv_data.to_json %>;
      var conv_opts = {
        chartData: conv_data,
        element_id: 'conversions_chart',
        chartType: 'smoothedLine',
        axisTitle: 'Conversion %',
        category: 'ts',
        depth3D: 0,
        angle: 10
      };
      $.octo.createGraph(conv_opts);
  <% end %>

  <% if @seg_data.count > 0 %>
    var user_segment = <%= @seg_data.to_json %>;
    var user_segment_chart = AmCharts.makeChart('user_segment_chart', {
      type: 'pie',
      dataProvider: user_segment,
      titleField: 'title',
      valueField: 'value',
      labelRadius: 5,
      radius: '30%',
      innerRadius: '60%',
      labelText: '[[title]]',
    });
  <% end %>
});
  </script>
<% end %>
