<% content_for :breadcrumb do %>
  <li><a href="#" class="active">Users</a></li>
<% end %>

<% content_for :styles do %>
  <style type="text/css">
.timeline::before  {
  background: '#DAD1D1 !important',
};
  	/* Custom CSS for this page */
  </style>
<% end %>

<div class="timeline-container top-circle">
  <div class="panel panel-transparent">

      <div class="panel-heading bg-primary-darker">
        <h2>User Timeline <% if @user %>for UserID: <%= @user.id %> <% end %></h2>
      </div>
    <div class="panel-body">
      <div class="input-prepend input-group pull-left col-sm-4">
        <form class="navbar-form" role="search" action="/user/" method="get" id="userform">
          <input type="hidden" name="start_time" value="" />
          <input type="hidden" name="end_time" value="" />
          <div class="input-group required">
            <input type="text" class="form-control" placeholder="Search for a user by ID" name="userid" id="userid" value="<%= @params.fetch('userid', nil) %>">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </div>
        </div>
        </form>
      </div>
      <div class="input-prepend input-group pull-right col-sm-6">
        <form class="form-group form-group-default">
          <input type="text" style="width: 100%" name="timeslot" id="rankingDatepicker"
          class="form-control active"
          size="30"
          placeholder="Date Range"
          value='<%= (@success ? "#{ @start_ts.strftime('%Y/%m/%d %I:%M:%S %P')} - #{@end_ts.strftime('%Y/%m/%d %I:%M:%S %P')}" : '') %>'>
        </form>
      </div>
    </div>
  </div>

  <% if @success %>
    <section class="stats">
      <div class="row">
        <div class="panel panel-transparent">
          <div class="panel-heading">
            <h3>Persona</h3>
          </div>
          <div class="panel-body">
            <ul>
              <li><b>Engagement Segment</b>: Some text</li>
              <li><b>User Since</b>: <%= rand(30..700).days.ago.strftime('%-d %b %y') %></li>
              <li><b>Last Active On</b>: <%= rand(0..10).days.ago.strftime('%-d %b %y') %></li>
            </ul>

            <% [:categories, :tags, :trending].each do |ptype| %>
              <div id="<%= ptype %>_chart" class="col-md-4" style="height:260px;font-size:11px;"></div>
            <% end %>
          </div>
        </div>
      </div>
    </section>
  <section class="timeline">

    <% @res.each do |r| %>
      <div class="timeline-block">
        <div class="timeline-point warning">
          <% case r.type_raw
          when Octo::UserTimeline::CHECKOUT %>
            <i class="pg-credit_card"></i>
          <% when Octo::UserTimeline::ADD_TO_CART %>
            <i class="pg-shopping_cart"></i>
          <% when Octo::UserTimeline::APP_OPEN %>
            <i class="pg-power"></i>
          <% when Octo::UserTimeline::APP_CLOSE %>
            <i class="pg-close_line"></i>
          <% when Octo::UserTimeline::PAGE_RELOAD %>
            <i class="pg-refresh_new"></i>
          <% when Octo::UserTimeline::BROWSE_PAGE %>
            <i class="pg-plus_circle"></i>
          <% when Octo::UserTimeline::SHARE %>
            <i class="pg-social"></i>
          <% when Octo::UserTimeline::SEARCH %>
            <i class="pg-search"></i>
          <% when Octo::UserTimeline::BROWSE_PRODUCT %>
            <i class="pg-plus_circle"></i>
          <% end %>
        </div>
        <div class="timeline-content">
          <div class="card share full-width">
            <div data-original-title="Label" class="circle" data-toggle="tooltip" title="" data-container="body"></div>
            <div class="card-header clearfix">
              <div class="user-pic">
                <img alt="Profile Image" data-src-retina="images/user_icon.png" data-src="images/user_icon.png" src="images/user_icon.png" height="33" width="33">
              </div>
              <h5><%= r.type %></h5>
              <h6><%= r.title %>
                <span class="location semi-bold"><i class="fa fa-map-marker"></i> <%= r.location %></span>
              </h6>
            </div>
            <div class="card-description">
              <p><%= r.details %> </p>
              <p><%= r.insight %> </p>
            </div>
            <div class="card-footer clearfix">
              <ul class="reactions">
                <li><a href="#"><%= rand(1.0..5.8).round(1) %>K <i class="fa fa-users"></i></a> similar behavior in past 24hrs.
                </li>
              </ul>
            </div>
          </div>
          <div class="event-date">
            <small class="fs-12 hint-text"><%= r.ts %></small>
          </div>
        </div>
      </div>
    <% end %>

  </section>
<% else %>
  <h3>I can't find any user by that ID :-(</h3>
<% end %>
</div>

<% content_for :scripts do %>
  <script type="text/javascript">
    $(function() {

        var selector = 'input[name="timeslot"]';
        /* set date range picker */
        $(selector).daterangepicker({
          "timePicker": true,
          "opens": "left",
          "startDate": new Date(),
          "endDate": new Date(),
          "maxDate":new Date()
        });

        $(selector).on('apply.daterangepicker', function(ev, picker){
          var start_time = picker.startDate.format('YYYY/MM/DD h:mm:ss a');
          var end_time = picker.endDate.format('YYYY/MM/DD h:mm:ss a');
          $(this).val(start_time + ' - ' + end_time);

          start_time = picker.startDate.format('YYYYMMDDhhmmss');
          end_time = picker.endDate.format('YYYYMMDDhhmmss');
          onDateChange(start_time, end_time);
        });

        function onDateChange(start_time, end_time) {
          $('#userform').find('input[name="start_time"]').val(start_time);
          $('#userform').find('input[name="end_time"]').val(end_time);
          $('#userform').submit();
        };

      <% if @success %>

          <% [:categories, :tags, :trending].each do |ptype| %>

            var <%= ptype %>_persona = <%= @persona[ptype].collect { |k,v| {title: k, value: v } }.to_json %>;
            var <%= ptype %>_chart = AmCharts.makeChart('<%= ptype %>_chart', {
              "type": "pie",
              "dataProvider": <%= ptype %>_persona,
              "titleField": "title",
              "valueField": "value",
              "labelRadius": 5,
              "startEffect": "easeOutSine",
              "radius": "30%",
              "innerRadius": "60%",
              "labelText": "[[title]]",
              "titles":  [{
                  "text": "<%= ptype.capitalize %> Persona",
                  "size": 10
                }],
              "export": {
                "enabled": true
              }
            });

        <% end %>
    <% end %>
    });

  </script>

<% end %>
